<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sensingflow -->
      <package
            uri="sensingflow.kaist"
            class="sensingflow.model.SensingflowPackage"
            genModel="model/sensingflow.genmodel"/>
   </extension>

</plugin>
